---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: monospace, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$dark-background-color:     #0B0E13;
//$background-color:          #245059;
$background-color:          $dark-background-color;
$light-background-color:    #061A23;

$text-color:                #8CFFFF;
$brand-color:               #E7FDFA;

$orange-color:          #DF740C;
$rinzler-color:         lighten( #AE3115, 15% );
$yellow-color:          #ffe64d;
$yellow-color-light:    lighten($yellow-color, 20%);
$yellow-color-dark:     darken($yellow-color, 25%);

$link-color:          #ffe64d;
$link-color-light:    lighten($yellow-color, 20%);
$link-color-dark:     darken($yellow-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        900px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



@mixin hoverable-card($color) {
    border-color: $color;

    &:hover {
        box-shadow: 0 0 10px $color;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "home",
        "posts",
        "keyframes",
        "syntax-highlighting"
;
