---
---
$base-font-family: serif, sans-serif, monospace, Helvetica, Arial;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 24px;

$print-font-family: "Times New Roman", Times, serif, sans-serif;
$print-font-size:   16px;
$print-small-font-size:  $print-font-size * 0.875;
$print-line-height: 22px;

$spacing-unit:     30px;

$light-background-color:    #061A23;
$dark-background-color:     #0B0E13;
$background-color:          #fff;

$text-color:                #000;
$brand-color:               #333;

$link-color:          blue;
$link-color-light:    lighten($link-color, 20%);
$link-color-dark:     darken($link-color, 25%);

$orange-color:          #DF740C;
$rinzler-color:         lighten( #AE3115, 15% );
$yellow-color:          #ffe64d;
$yellow-color-light:    lighten($yellow-color, 20%);
$yellow-color-dark:     darken($yellow-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        900px;


@charset "utf-8";
@import "base";

$figure-radius: 6px;

@media screen {
    body {
        width: 80%;
        margin: 0 auto;
        font: normal $base-font-size $base-font-family;
        line-height: $base-line-height;
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
            text-shadow: 0 0 10px $link-color-light;
        }
    }
}

@media print {
    body {
        font: normal $print-font-size $print-font-family;
        line-height: $print-line-height;
        margin: 0;
        padding: 0;
    }

    .sectioning-nav,
    .content-table,
   .hide-on-print { display: none; }

    @page {
        border: 1.5in solid #000;
    }

    .break-after { page-break-after: always; }
    .break-before { page-break-before: always; }
}

h1,h2,h3,
h4,h5,h6 {
    line-height: 2rem;
}

hr { margin: 1rem 0; }

h1 { font-size: 1.8rem; color: $brand-color; }
h2 { font-size: 1.6rem; color: $brand-color; }
h3 { font-size: 1.4rem; color: $brand-color; }
h4 { font-size: 1.3rem; color: $brand-color; }
h5 { font-size: 1.2rem; color: $brand-color; }
h6 { font-size: 1.1rem; color: $brand-color; }

body {
    > header {
        overflow: auto;
    }
}

footer {
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

table {
    width: 100%;
    margin: 0.4rem auto;
}

strong, em, b, i {
    text-shadow: none;
    color: unset;
}

dl {
    dt {
        font-weight: 600;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-decoration-color: $brand-color;
    }
    dd {
        padding-left: 1rem;
    }
}

.references-title { margin-top: $spacing-unit; }
.references-list {
    margin-left: 0;
    list-style-type: none;

    .reference {
        margin: 6px 0;
    }
}

.page-content { margin-top: 1rem; }



/**
 * Text
 */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/**
 * Header
 */
body > header { padding: 1rem 2rem; }
header {
    display: flex;
    flex-flow: row wrap;

    #authors, #institution {
        flex: 1 1 auto;
        max-width: 49%;

        ol,ul {
            list-style-type: none;
            padding-left: 0;
            margin-left: 0;
        }
    }

    #authors { text-align: left; }
    #institution { text-align: right; }
}

/**
 * Figures
 */
figure {
    max-width: 40%;
    margin: 0 2rem;
    border: 1px solid black;
    text-align: center;
    border-radius: $figure-radius;

    img {
        max-width: 90%;
        max-height: 90%;
        transition: transform 400ms ease-out;
        margin: auto;

        &:hover {
            transform: scale(2);
            box-shadow: 0 0 10px 5px $brand-color;
        }
    }
    figcaption {
        text-align: justify;
        background-color: #DDD;
        padding: 4px 8px;
        border-radius: 0 0 $figure-radius $figure-radius;
    }
}

/**
 * Mobile
 */
@media screen and (max-width: 480px) {
    header {
        flex-flow: column wrap;

        #authors, #institution {
            max-width: initial;
            text-align: center;
        }
        #authors {
            border-bottom: 1px solid gray;
            margin-bottom: 1rem;
        }

        #university, #school { display: none; }
    }

    figure {
        max-width: initial;
        margin: 1rem 0.4rem;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    background-color: #eee;
}

.pseudo-code {
    word-spacing: 6px;
}
