/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
		display: block;
}

header svg {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}
header svg path {
    fill: #0F0;
}

header figure {
    float: left;
    margin: 8px 12px;
}

img { max-width: 100%; }

.emoticon {
	margin: 0 0.4em;
	display: inline-block;
	-webkit-transform: rotate(90deg);
	-moz-transform:    rotate(90deg);
	-ms-transform:     rotate(90deg);
	-o-transform:      rotate(90deg);
	transform:         rotate(90deg);
}

@media screen {
	blockquote {
		/*
		quotes: none;
		*/
		color: #67BDBD;
		text-align: initial;
		white-space: pre;
	}
	q {
		color: #67BDBD;
	}
	q:before {
		content: '« ';
		color: #67BDBD;
	}
	q:after {
		content: ' »';
		color: #67BDBD;
	}

	*::-moz-selection {
		color: #000;
		background-color: #0F0;
	}
	*::selection {
		color: #000;
		background-color: #0F0;
	}

	body {
		max-width: 80%;
		margin: 1em auto;
		color: #0F0;
		background-color: #000;
		text-shadow: 0 0 5px #0F0;
		font: normal 14px/20px sans-serif, serif, monospace;
	}

	header {
		margin: 2em 0;
	}

	header img {
		border: 1px solid yellow;
		padding: 4px;
	}

	main figure {
		margin: 12px;
		float: right;
		max-width: 30%;
		text-align: center;
	}

	main figure figcaption {
		text-align: justify;
		padding: 3px 8px;
		font-style: italic;
		background-color: #111;
	}

	main figure img {
		max-width: 80%;
		transition: all 1s;
	}
	
	main figure img:hover {
		z-index: 100;
		position: absolute;
		left: 10%;
		top: 5%;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.50);
		transform: scale(1);
	}

	nav {
		text-align: right;
	}

	article {
		transition: all 1s linear;
		padding: 1em;
	}
	article:not(:first-child) {
		border-bottom: solid 1px orange;
	}

        article h3 {
            color: magenta;
            text-shadow: 0 0 10px magenta;
        }
        article h3 em, article h3 i {
            font-size: 0.8em;
            color: yellow;
            text-shadow: none;
        }

	footer {
		margin-top: 4em;
		text-align: right;
	}

	h1 {
		color: orange;
		text-shadow: -2px -2px 12px orange;
		font-weight: 400;
	}
	h1::selection {
		color: #000;
		background-color: orange;
	}
	h1::-moz-selection {
		color: #000;
		background-color: orange;
	}

	h2, h3, h4, h5, h6 {
		color: #ff8700;
		text-shadow: -1px -1px 8px #ff8700;
		font-weight: 400;
	}
	h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
		color: #000;
		background-color: #ff8700;
	}
	h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection {
		color: #000;
		background-color: #ff8700;
	}

	pre {
		margin: 2em auto;
		max-width: 420px;
		width: 420px;
	}

	a, a:visited {
		color: yellow;
		text-shadow: 0 0 2px yellow;
		text-decoration: none;
	}
	a:hover { text-decoration: underline; }
	a::selection, a:visited::selection {
		color: #000;
		background: yellow;
	}
	a::-moz-selection, a:visited::-moz-selection {
		color: #000;
		background: yellow;
	}

        mark, abbr {
            cursor: help;
        }

	#actual p b, #actual p strong {
		color: cyan;
		text-shadow: 0 0 10px cyan;
	}

	#actual p b::-moz-selection, #actual p strong::-moz-selection {
		background-color: cyan;
		color: #000;
	}
	#actual p b::selection, #actual p strong::selection {
		background-color: cyan;
		color: #000;
	}

	.magenta, strong, b {
		color: magenta;
		text-shadow: 0 0 4px magenta;
	}
	.magenta::-moz-selection, strong::-moz-selection, b::-moz-selection {
		color: black;
		background-color: magenta;
	}
	.magenta::selection, strong::selection, b::selection {
		color: black;
		background-color: magenta;
	}

	.invisible { opacity: 0; margin-top: -2em; }
	.invisible > p {
		height: 0;
	}
}

@media print {
	* {
            color: #000;
	}

	body {
            background-color: #FFF;
			font: normal 14px/18px sans-serif, serif, monospace;
	}

        header svg path {
            fill: #222;
        }

	#actual h3 {
            background-color: yellow;
	}

	a { color: blue; }
	/* main a[href]:after { */
            /* content: " (" attr(href) ")"; */
	/* } */

        main figure {
            display: none;
        }
}
