---
layout: default
---
<h1 class="page-heading" hidden>Posts</h1>

<div class="home">

    {% for post in site.posts %}
    <article class="{% for cat in post.categories %}{{ cat }} {% endfor %} post">
        <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        {% if post.excerpt %}
        {{ post.excerpt }}
        {% endif %}

        {% if post.date %}
        <footer>
            <time class="post-meta" datetime="{{ paper.date }}">
                {{ post.date | date: "%d/%b/%Y" }}
            </time>
        </footer>
        {% endif %}
    </article>
    {% endfor %}

    <h2 hidden>Tareas</h2>
    {% for paper in site.tareas %}
    <article class="school-paper">
        <header>
            <h2>
                <a class="post-link" href="{{ paper.url | prepend: site.baseurl }}">{{ paper.title }}</a>
            </h2>
            <strong class="classname">{{ paper.classname }}</strong>
        </header>

        {% if paper.abstract %}
        <p class="abstract">
        {{ paper.abstract }}</p>
        </p>
        {% endif %}

        {% if paper.date %}
        <footer>
            <time class="post-meta" datetime="{{ paper.date }}">
                {{ paper.date | date: "%d/%b/%Y" }}
            </time>
        </footer>
        {% endif %}
    </article>
    {% endfor %}

</div>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
