---
title: "Heurísticas del problema de la mochila"
classname: "Temas Selectos de Optimización"
abstract: >
    Resultados de las tres heurísticas realizadas en clase
date: 2017-02-21
authors:
    - Juan Carlos Guajardo García &mdash; 1516330
---
<section>
    <article>
        <h2>Resultados</h2>
        <p>Se probaron tres heurísticas con una instancia de tamaño
        1,000,000 donde cada objeto tiene un peso entre 20 y 50 con un
        valor entre 70 y 100. Las heurísticas consistieron en:
        <ol>
            <li>Objetos ordenados de manera descendente en relación a su valor
            <li>Objetos ordenados de manera descendente en relación a su peso
            <li>Objetos ordenados de manera descendente en relación al
                cociente de valor sobre peso
                (<var>v<sub>i</sub></var> / <var>w<sub>i</sub></var>)
        </ol>

        <table>
        	<thead>
        		<tr>
        			<th></th>
        			<th class="text-right">Heurística 1</th>
        			<th class="text-right">Heurística 2</th>
        			<th class="text-right">Heurística 3</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
                    <td><b>Capacidad de mochila (W)</b></td>
        			<td class="text-right">17,500,000</td>
        			<td class="text-right">17,500,000</td>
        			<td class="text-right">17,500,000</td>
        		</tr>
        		<tr>
                    <td><b>Peso</b></td>
        			<td class="text-right">17,500,000</td>
        			<td class="text-right">17,499,993</td>
        			<td class="text-right">17,499,996</td>
        		</tr>
        		<tr>
                    <td><b>Valor</b></td>
        			<td class="text-right">46,080,847</td>
        			<td class="text-right">51,396,610</td>
        			<td class="text-right">52,062,261</td>
        		</tr>
        		<tr>
                    <td><b>Objetos</b></td>
        			<td class="text-right">496,575</td>
        			<td class="text-right">605,577</td>
        			<td class="text-right">598,899</td>
        		</tr>
                <tr>
                    <td><b>Tiempo lectura (segs)</b></td>
                    <td class="text-right">7.3299</td>
                    <td class="text-right">7.1516</td>
                    <td class="text-right">9.1698</td>
                </tr>
                <tr>
                    <td><b>Tiempo ordenamiento (segs)</b></td>
                    <td class="text-right">2.4042</td>
                    <td class="text-right">2.4772</td>
                    <td class="text-right">3.9542</td>
                </tr>
                <tr>
                    <td><b>Tiempo heurística (segs)</b></td>
                    <td class="text-right">0.8630</td>
                    <td class="text-right">0.9142</td>
                    <td class="text-right">0.6450</td>
                </tr>
        	</tbody>
        </table>

        <!-- <table class="text-center">
            <thead>
                <tr>
                    <th>Heurística
                    <th>Capacidad (W)
                    <th>Peso
                    <th>Valor
                    <th>Objetos
                    <th>Tiempo lectura
                    <th>Tiempo ordenamiento
                    <th>Tiempo heurística
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1
                    <td>17,500,000
                    <td>17,500,000
                    <td>46,080,847
                    <td>496,575
                    <td>7.3299
                    <td>2.4042
                    <td>0.8630
                </tr>

                <tr>
                    <td>2
                    <td>17,500,000
                    <td>17,499,993
                    <td>51,396,610
                    <td>605,577
                    <td>7.1516
                    <td>2.4772
                    <td>0.9142
                </tr>

                <tr>
                    <td>3
                    <td>17,500,000
                    <td>17,499,996
                    <td>52,062,261
                    <td>598,899
                    <td>9.1698
                    <td>3.9542
                    <td>0.6450
                </tr>
            </tbody>
        </table> -->

    </article>
</section>
