---
title: "Estudio de caso: propuesta"
classname: "Temas Selectos de Optimización"
abstract: >
    Propuesta de un problema de optimizacion combinatoria
    para su estudio en clase.
math: true
date: 2017-02-14
authors:
    - Juan Carlos Guajardo García &mdash; 1516330
references:
    - title: "Luca Trevisan. (2011). Combinatorial Optimization: exact and approximate algorithms, Lecture 9. Stanford University."
---
<section>
    <article>
        <h2>Problema de flujo máximo</h2>
        <p>A manera de contexto, hay que imaginar un red de comunicación
        en la que ciertos pares de nodos están conectados por enlaces;
        cada enlace tiene una tasa máxima a la cual se puede enviar datos.
        Dados dos nodos en la red, ¿cuál es la tasa máxima a la que pueden
        enviar datos uno a otro, asumiendo que ningún otro par de nodos se
        está comunicando?

        <p>Las redes que se utilizan para éste tipo de problemas, donde un
        nodo tiene que pasar datos a otro a través de un enlace están
        sujetas una capacidad máxima de <em>ese enlace</em>. Siendo en la
        mayoría de los casos, ésta capacidad está sujeta a la dirección en
        que viajan los datos, i.e., la capacidad de <b>u &rarr; v</b> puede
        ser distinta a la capacidad de <b>v &rarr; u</b>.

        <p>Por lo que una red <var>N</var> puede ser definida como un grafo
        direccionado <b>G(V, E)</b>, donde:
        <ul>
            <li>Un vertice $ s &#8712; V $ y un vertice $ t &#8712; V $ son
                especificados como el nodo fuente y el nodo destino,
                respectivamente
            </li>
            <li>Cada arista dirigida $ (u, v) &#8712; E $ tiene asociada
                una capacidad positiva $ c(u, v) &gt; 0 $. Si ambas aristas
                <var>(u, v)</var> y <var>(v, u)</var> pertenecen a
                <var>E</var>, se permite que sus capacidades sean diferentes.
            </li>
        </ul>

        <p>Y un flujo en una red <b><var>(G, s, t, c)</var></b> es una
        asignación de número no-negativo <var>f(u, v)</var> a cada arista
        $ (u, v) &#8712; E $ tal que:
        <ul>
            <li>
                Para cada $ (u, v) &#8712; E $, $ f(u, v) &#8804; c(u, v) $
            </li>
            <li>
                Para cada vertice $ v &#8712; V $,
                $ &#8721;_{ u &#8712; V } f(u, v) = &#8721;_{ w &#8712; V } f(v, w) $
            </li>
        </ul>

        <p>Por convención se mantendrá $ f(u, v) = 0 $ si
        $ (u, v) &#8713; E $

        <h3>Modelo</h3>
        <p>Dado un grafo direccionado <var>G(V, E)</var>, obtener la ruta con
        mayor flujo $ f(u, v) $ entre los nodos <var>s</var> y
        <var>t</var>. Donde cada enlace (arista) $ (u, v) &#8712; E $ tiene una
        capacidad $ c(u, v) &gt; 0 $.

        $$ max \sum_v f(N) $$
        $$ \text{tal que} $$
        $$ N = (G(V, E), s, t, c) $$
        $$ (u, v) &#8713; E \{ f(u, v) = 0 \} $$
        $$ (u, v) &#8712; E &rarr; f(u, v) &#8804; c(u, v) $$

        </article>

        <footer class="clearfix">
            {% include references.html %}
        </footer>
</section>
