<figure class="{{ include.class }}" style="{{ include.style }}">
    <a href="{{ include.url }}">
        <img
            src="{{ include.url }}"
            alt="{{ include.alt }}"
            title="{{ include.alt }}"
        >
    </a>

    <figcaption>
        {{ include.caption }}
    </figcaption>
</figure>
