<footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list">
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="footer-col  footer-col-2">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="icon  icon--github">
                                <svg viewBox="0 0 16 16">
                                    <path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
                                </svg>
                            </span>
                            <span class="username">{{ site.github_username }}</span>
                        </a>
                    </li>
                    {% endif %}

                    <li>
                        <a href="/cv.html">
                            <span class="icon">
                                <svg
                                    enable-background="new 0 0 96 96"
                                    height="16px"
                                    id="Layer_1"
                                    version="1.1"
                                    viewBox="0 0 96 96"
                                    width="16px"
                                    xml:space="preserve"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                >
                                    <path d="M72,63H42v6h30V63z M72,75H42v6h30V75z M72,27H42v6h30V27z M72,39H42v6h30V39z M72,51H42v6h30V51z M36,51H24v6h12V51z M81,3  H15c-1.657,0-3,1.343-3,3v84c0,1.657,1.343,3,3,3h66c1.657,0,3-1.343,3-3V6C84,4.343,82.657,3,81,3z M78,87H18V9h60V87z M36,39H24v6  h12V39z M36,27c0-1.938-1.231-3.576-2.95-4.209c0.886-0.821,1.45-1.986,1.45-3.291c0-2.486-2.015-4.5-4.5-4.5s-4.5,2.014-4.5,4.5  c0,1.305,0.563,2.47,1.45,3.291C25.231,23.424,24,25.062,24,27v6h12V27z"/>
                                </svg>
                            </span>
                            <span>Curriculum Vitae</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer-col  footer-col-3">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>

    </div>

</footer>
