<h2 class="references-title">Referencias</h2>

<ul class="references-list">
    {% for reference in page.references %}
    <li class="reference">
        {% if reference.id %}
        <span id="{{ reference.id }}">
            [<a class="cite" href="#cite_{{ reference.id }}">{{ reference.id }}</a>]
        </span>
        {% endif %}

        {{ reference.title }}

        {% if reference.href %}
        (<a href="{{ reference.href }}">{{ reference.href }}</a>)
        {% endif %}
    </li>
    {% endfor %}
</ul>
