<header class="site-header">
    <nav style="position: fixed; top: 10px; right: 10px;">
        <h2 hidden>Navegación</h2>
        {% include content-table.html text="Tabla de contenidos" %}
    </nav>

    <div id="authors">
        {% if jekyll.environment == 'production' %}
        <p>Geckox</p>
        {% else %}
        <ul class="authors">
            {% for author in page.authors %}
            <li>{{ author }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
    </div>

    <div id="institution">
        <p id="university">Universidad Autónoma de Nuevo León</p>
        <p id="school">Facultad de Ingeniería Mecánica y Eléctrica</p>
        <p id="paper-title">{% if page.classname %}{{ page.classname }}{% endif %}</p>
    </div>


</header>

<hr>
