/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: darken($link-color, 05%);
    }

    &:hover {
        color: $link-color;
        text-decoration: underline;
        text-shadow: 0 0 10px $link-color;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $link-color;
    border-left: 4px solid $link-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $yellow-color;
    border-radius: 3px;
    background-color: #1d293b;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Dates
 */
time {
    color: $brand-color;
}



/**
 * Emphasis
 */
em, i { color: $brand-color; text-shadow: 0 0 15px $brand-color; }



/**
 * Wrapper
 */
.wrapper {
/*
 * max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
 * max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
 */
    width: 90%;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 04%;
    padding-left: 04%;
    @extend %clearfix;

/*
 *  @include media-query($on-laptop) {
 *      max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
 *      max-width:         calc(#{$content-width} - (#{$spacing-unit}));
 *      padding-right: $spacing-unit / 2;
 *      padding-left: $spacing-unit / 2;
 *  }
 */
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.clearfix {
    overflow: auto;
    clear: both;
    @extend %clearfix;
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $yellow-color;
        }
    }
}



/**
 * Text
 */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }



/**
 * Whatever
 */
.left { display: block; float: left; }
.right { display: block; float: right; }
