.home {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    article {
        flex: 1 1 auto;
        border-radius: 5px;
        border: 1px solid $text-color;
        margin: 8px 12px;
        padding: 12px;
        background-color: $dark-background-color;
        max-width: 30%;
        @include hoverable-card($text-color);

        .classname {
            color: $rinzler-color;
        }

        &:nth-child(odd) {
            border-right-width: 4px;
            border-left-width: 1px;
        }
        &:nth-child(even) {
            border-left-width: 4px;
            border-right-width: 1px;
        }

        &.school-paper {
            @include hoverable-card(#0f0);
        }

        &.speakword {
            @include hoverable-card(magenta);
        }

        footer {
            text-align: right;
        }
    }
}

@media screen and (max-width: 480px) {
    .home article {
        max-width: initial;
    }
}
