---
title: Propuesta formal
classname: Interacción Humano Computadora
abstract: >
    Una extensión básica que ofrece personalización de colores
    en sitios web para una lectura cómoda.
date: 2017-03-19
references:
    - id: "usr"
      href: "https://userstyles.org/"
      title: "Userstyles: the largest collection of user styles anywhere!"
    - id: "dim"
      href: "https://chrome.google.com/webstore/detail/dim/nlddooikpnchhikklpamelnpldhcpnbe"
      title: "DIM Chrome Extension: put an end to bright pages."
    - id: "css"
      href: "https://www.w3.org/Style/CSS/"
      title: "Cascading Style Sheets (CSS): a simple mechanism for adding style (e.g., fonts, colors, spacing) to Web documents. "
---
<article>
	<header>
        <h1>Colores e iluminación en armonía</h1>
        <p>El ritmo acelerado en que avanza la tecnología ha dejado atrás
        la capacidad de adaptación del hombre, siendo invadido por pantallas
        digitales virtualmente en cada rincón de nuestras vidas (pronto hasta
        en nuestros guardarropa). Este proyecto busca dar herramientas a los
        usuarios no para alejarse y refugiarse de esta intrusión, sino de
        abrazarla y poner un poco de sus gustos personales en los sitios a los
        que recurren continuamente.
        </p>
    </header>

    <hr>

    <p>No busco alcanzar a toda la población del internet, ni siquiera a el
    nicho específico que se enfoca en estas prácticas. Existen varias
    herramientas para llevar acabo esta tarea, algunas hermosas y otras no
    tanto, entre ellas se encuentra Stylish, que toma los estilos de el sitio
    <a href=https://userstyles.org>userstyles.org</a>
    <sup>[<a id=cite_usr href=#usr>usr</a>]</sup>, ofreciendo diseños de
    nivel profesional al alcance de cualquier persona, pero si quieres crear
    el tuyo necesitas estar familiarizado con
    <abbr title="Cascading Style Sheets">CSS</abbr>
    <sup>[<a id=cite_css href=#css>css</a>]</sup>; también, en otra gama
    de las extensiones disponibles se encuentran algunas como
    DIM<sup>[<a id=cite_dim href=#dim>dim</a>]</sup> que, en auto descripción,
    suenan como redentores llenos de nuevas posibilidades, pero caen cortos
    en la mayoría de las tareas.

    <h2>Trabajos previos</h2>

    <p>Imagino que al tener una amplio campo de funcionalidad incrementa mucho
    el código base y se vuelve difícil de mantener y termina en el olvido de
    las miles de extensiones disponibles. Por eso la intención del proyecto
    no es competir con extensiones como DIM ni configuraciones expertas como
    Userstyles, sino un conjunto pequeño de tareas posibles para la
    personalización de la paleta de colores a nivel de semántica del
    documento con una interacción mínima por parte del usuario, ¡sólo
    escoger los colores que desea usar!

    <p>Otro ámbito que me interesa explorar, aparte de la personalización, es
    la accesibilidad para llevarlo a cabo. Algo que he observado es que las
    interfaces de configuración son complicadas; claro, ofrecen un alto nivel
    de personalización, pero la poca intuición que muestra la interfaz, mas
    la aún mayor escasa documentación al respecto, terminan siendo un enorme
    freno para su uso (dando por hecho que sirvan, claro).

    <h2>Contexto</h2>
    <p>Como audiencia primaria es apunta a los usuarios que interactúan con
    las computadoras por períodos prolongados, e.g., oficinistas,
    informáticos, lectores; debido a que son los que podrían dar el primer
    paso en buscar una solución a una posible fatigo o hastío hacía la
    monotonía de colores, por lo que se diseñó un cuestionario enfocado
    a generalizar los usos empleados a las pantallas que utilizan.

    <p>Los voluntarios fueron en su mayoría estudiantes de la FIME, UANL
    y unos cuantos oficinistas. Los resultados se anexarán en otro documento.

    <h2>Resumen</h2>
    <ul>
        <li>Herramientas complicadas suelen alejar a los usuarios
        <li>O requieren una familiarización avanzada con la tecnología
        <li>La generalización es clave
        <li>¡Solo cambiemos los colores!
    </ul>
</article>

<footer class="clearfix">
    {% include references.html %}
</footer>
