---
title: Entregable
classname: Interacción Humano Computadora
date: 2017-02-02
---
<article>
    <header><h1>Propuesta inicial</h1></header>

    <h2>Título tentativo: "Dim the lights"</h2>

    <h2>Problema a solucionar o mejorar</h2>
    <p>Me parece muy molesto que la mayoría de los sitios web no ofrezcan
    un tema o alguna manera flexible para cambiar la paleta de colores:
    siendo el problema en específico que al visitar algún sitio con
    colores brillantes de noche, uno quede totalmente encandilado por el
    exceso de blanco en la oscuridad.

    <p>Sí, existen extensiones de los navegadores (populares) que permiten
    al usuario aplicar estilos personalizados a dominios enteros,
    pero, en la mayoría de los casos, involucra un sobre esfuerzo para una
    página que probablmente <em>no volveremos a ver</em>.

    <h2>Actividades a realizar</h2>
    <p>El desarrollo de una extensión minimalista que permita al usuario
    modificar los colores, al menos, de etiquetas básicas de HTML. La idea
    es generalizar los selectores de acuerdo a una jerarquía semántica.
    Pero de ser posible agregar la funcionalidad para que el usuario de
    click a un elemento del <abbr title="Document Object Model">DOM</abbr>
    y se extraigan las <code>clases</code> y <code>id</code> de dicho
    elemento para sobreescribir reglas estrictamente definidas, i.e.,
    que su selector en la hoja de estilos sea priorizado.
</article>

<article>
    <header><h1>Selección de usuarios</h1></header>

    <ol id=users>
        <li>
            <ul>
                <li><b>Nombre</b>: Sandra</li>
                <li>Mujer mayor con poco manejo de tecnología</li>
                <li>Puesto que maneja de manera muy supercifial las
                    interfaces tecnológicas, i.e., no lee instrucciones,
                    no se molesta en explorar funcionalidades ni
                    revisar por qué fallan las cosas, constituye algo
                    así como la prueba dorada para saber que tan
                    manejable, y efectiva, es la aplicación.
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li><b>Nombre</b>: Pato</li>
                <li>Desarrollador web, joven y curioso</li>
                <li>Tiene experiencia con distintas interfaces de usuario,
                    no necesariamente gráficas. Pero a el, como a muchos,
                    no le importan este tipo de cosas.
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li><b>Nombre</b>: Juan Carlos</li>
                <li>Desarrollador web, joven y curioso
                    (y me importan estas cosas!)
                </li>
                <li>En definitiva yo soy mi usuario objetivo. Mientras el
                    primer usuario demostrará la aceptación y usabilidad
                    a las masas, hay que reafirmar que las masas <em>no
                    son el usuario objetivo</em>, sino personas como yo,
                    que les importa este tipo de cosas y se molestan en
                    ver qué posibilidades están a la mano para cambiarlo.
                </li>
            </ul>
        </li>
    </ol>
</article>
