---
title: Psicología del color
classname: Interacción Humano Computadora
abstract: >
    Investigación de estudios realizados en el campo elegido para el proyecto.
date: 2017-02-09
references:
    - href: "http://1stwebdesigner.com/psychology-of-colors/"
      title: "Equipo editorial. (2016). The Psychology of Colors in Web Design. 2017, 1st Web Designer"
    - href: "http://www.vandelaydesign.com/the-psychology-of-color-in-web-design/"
      title: "Shane Barker. (2016). The Psychology of Color in Web Design. 2017, Vandelay Design"
    - href: "https://blog.kissmetrics.com/psychology-of-color-and-conversions/"
      title: "Jeremy Smith. (2014). How to Use the Psychology of Color to Increase Website Conversions. 2017, Kiss Metrics"
    - href: "http://precisionintermedia.com/color"
      title: "Precision Intermedia. (2015). Business, Sales and the World Wide Web Are In Color. 2017, Precision Intermedia"
    - href: "https://www.verywell.com/color-psychology-2795824"
      title: "Kendra Cherry. (2016). How Colors Impact Moods, Feelings, and Behaviors. 2017, VeryWell"
---
<article>
	<header>
        <h1>La psicología del color en el diseño web</h1>
        <p>La mayoría de las personas no se da cuenta de como funcionan y
        probablemente sólo unos cuantos prestan atención a ellos; aunque su
        influencia puede estar sobrestimada, ésta claramente puede percibirse
        en algunas situaciones.
    </header>

    {% include figure.html class="right" url="/images/yellow_bastard.jpg" alt="Escena en celda de prisión de la película Sin City." caption="En la historia de Sin City, se le atribuye al color amarillo una connotación de inquietud y perversión." %}

    <p>Los colores se dividen en dos grupos:
    <ol>
        <li>
            <strong>Cálidos</strong>. Aquellos en el área roja del espectro
            de colores: rojo, naranja, amarillo.
        </li>
        <li>
            <strong>Frescos</strong>. Los que se encuentran en el área azul
            del espectro: azul, púrpura, verde.
        </li>
    </ol>

    <p>Los colores cálidos evocan sensaciones desde confort, calidez,
    comodidad, hasta enojo y agresión. Por regla los colores frescos son
    descritos como tranquilos y calmos, pero también suelen asociarse con la
    tristeza (sentirse azul) o indiferencia.

    <p>En la antigüedad se creía que los colores podían curar enfermedades,
    ésta ciencia era denominada <em>quimioterapia</em>. Mientras la mayoría
    de los psicólogos permanecen escépticos ante la terapia del color, las
    grandes marcas de la industria la toman bastante en serio, creando grandes
    campañas promocionales basándose en cómo percibimos los colores y nos
    inclinan a comprar.
</article>

<article>
	<header>
        <h2>Definiciones de colores</h2>
    </header>

    <p>Es importante destacar que el significado adherido a cada calor varía
    acorde a la cultura que se le presenta, i.e., mientras el color blanco
    se interpreta como puro o inocente para la cultura occidental, en la
    oriental se identifica con un sentimiento de luto.

    <dl>
        <dt>Negro</dt>
        <dd>
            Se asocia con el lujo, sofisticación y alto valor; en ocasiones
            con la maldad y la muerte. Es versátil y conviene usarlo para
            contrastar el resto de los colores en el sitio.
        </dd>

        <dt>Blanco</dt>
        <dd>
            Pureza, blandeza, esterilidad. Se asocia con el la libertad y
            el espacio. La mayoría de los sitios lo usan como color de fondo.
        </dd>

        <dt>Rojo</dt>
        <dd>
            Evoca emociones fuertes, bastante efectivo para incitar una acción.
            Es estimulante y emocionante, se le asocia con la pasión, poder
            y en ocasiones con la ira.
        </dd>

        <dt>Azul</dt>
        <dd>
            Se le asocia con la confianza, serenidad y la seguridad. No es
            extraño que Facebook o PayPal lo usen como color primario para sus
            sitios.
        </dd>

        <dt>Verde</dt>
        <dd>
            Representante por excelencia de la naturaleza y la salud. También
            se ha identificado que despierta arranques de creatividad.
        </dd>

        <dt>Amarillo</dt>
        <dd>
            Es animado y cálido. Se reconoce que estimula una pequeña descarga
            de ansiedad, la cuál puede ser canalizada en una acción de tu sitio
            (hola, botón de compra de Amazon). Y su uso mas común es para las
            advertencias o enfocar la atención.
        </dd>

        <dt>Purpura</dt>
        <dd>
            Se le asocia con la realeza y el bienestar. Hace sentir exótico y
            especial. Ideal para sitios que invocan el lujo.
        </dd>

        <dt>Café</dt>
        <dd>
            Se asocia con la calma y la relajación, implica una sensación de
            tradición y hace sentir seguridad.
        </dd>

        <dt>Naranja</dt>
        <dd>
            Es un color divertido que puede crear la sensación de prisa o
            impulso. Uno de sus mejores usos es para llamar la atención,
            como el amarillo. Aunque en ocasiones se le asocia con lo barato,
            contrastando con el negro que se asocia al lujo.
        </dd>

        <dt>Rosa</dt>
        <dd>
            Se asocia con la juventud y el romance. Si la audiencia objetivo
            es principalmente femenina, <strong>no se debe asumir que éste es
            el color de mejor agrado para ellas</strong>.
        </dd>
    </dl>
</article>

<article>
	<header>
        <h2>Contexto objetivo</h2>
        <p>Una investigación realizada por
        <a href="https://www.quicksprout.com/">QuickSprout</a> indica que el
        85% del éxito de los productos esta relacionado a su color.
        Neil Patel escribe: <q>El color es el 85% de la razón por la cual
        compraste un producto específico</q>.
    </header>

    {% include figure.html class="left" url="/images/colors_genders.png" alt="Colores preferidos por las mujeres y los hombres" caption="Resumen de los colores preferidos y despreciados por las mujeres y los hombres. Cortesía de https://blog.kissmetrics.com/how-colors-affect-conversions/" %}

    <p>Las diferencias sociológicas entre las preferencias de colores es una
    rama de estudio en sí, pero Patel hizo un excelente trabajo al citar los
    colores preferidos, y de mayor desagrado, por género.

    <p>En una encuesta con respecto a los colores y el género, el 35% de las
    mujeres seleccionaron el azul como su color favorito, seguido por el
    el púrpura (23%) y el verde (14%). El 33% confesó que el naranja es su
    color menos preferido, empatado con el café y seguido por el gris (17%).

    <p>Se identificó que los colores preferidos de los hombres son el azul,
    verde y negro, mientras que los menos preferidos son el café, naranja
    y el púrpura.
</article>

<footer class="clearfix">
    {% include references.html %}
</footer>
