<!DOCTYPE html>
<html lang="es_MX">

    <head>
        <meta http-equiv=Content-Type content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ "/css/school.css" | prepend: site.baseurl }}">

        {% if page.math %}{% include math.html %}{% endif %}
    </head>

    <body>

        {% include topmatter.html %}

        <main class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

        <footer class=text-right><a class=hide-on-print href=/>Inicio</a></footer>
    </body>

</html>
